
/* Base styles */
body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-color: #fdf5f2;
    display: grid;
    justify-content: center;
    padding: 2rem;
    margin: 0 auto;
}


/* Recipe card container */
.recipe-card {
    width: 100%;
    max-width: 735px;
    display: grid;
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem,1fr));
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    body {
        font-size: 1.2rem;
        background-color: white;
        padding: 0rem;
        text-wrap: wrap;
        border-radius: 0%;
    }

    .recipe-card {
        width: 100%;
        max-width: 100%;
        border-radius: 0%;
        padding: 0rem;
        display: grid;
        box-sizing: initial;
        
    }

    .recipe-image{
        border-radius: 0%;   
    }

    h1,.section,.description{
        padding: 2rem;
    }
    .nutrition-table{
        padding: 4rem;
    }

    .prep-time {
        background-color: #fdf5f2;
        padding: 4rem;
        border-radius: 10px;
        margin-bottom: 20%;
    }
}


/* Image styles */
.recipe-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}

/* Typography */
h1 {
    color: #333;
    font-family: "outfit", serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

h2 {
    color: #b3189e  ;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.description {
    color: #666;
    line-height: 1.6;
    margin-bottom: 2rem;
}

/* Section styles */
.section {
    margin-bottom: 2rem;
}

/* Preparation time section */
.prep-time {
    background-color: #fdf5f2;
    padding: 1.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.prep-time-item {
    margin-bottom: 0.5rem;
}

/* Lists */
ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

li {
    margin-bottom: 0.5rem;
    color: #444;
}

ol {
    list-style-type: decimal;
    padding: 2rem;
}

/* Instructions list */
.instructions {
    counter-reset: steps;
}

.instructions li {
    margin-bottom: 1rem;
    padding-left: 2rem;
    position: relative;
}

.instructions li::before {
    color: #8b4513;
    font-weight: bold;
    position: absolute;
    left: 0;
}

ol li::marker {
    color:#8b4513;
    font-weight: bold;
}

/* Nutrition table */
.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-table tr {
    border-bottom: 1px solid #eee;
}

.nutrition-table td {
    padding: 0.75rem 0;
    color: #444;
}

.nutrition-table td:last-child {
    text-align: right;
    color: #8b4513;
    font-weight: 500;
}

br {
    border-bottom: 1px solid #030000;
}